name: Build and Publish Artifact

on:
  - push

env:
  EXILED_REFERENCES_URL: https://exslmod-team.github.io/SL-References/Dev.zip
  XP_SYSTEM_URL: https://api.github.com/repos/RowpannSCP/XP/releases
  SL_REFERENCES: ${{ github.workspace }}/refs
  EXILED_REFERENCES: ${{ env.SL_REFERENCES }}

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1.3
        with:
          vs-prerelease: false
          msbuild-architecture: x64
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get Exiled References
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri ${{ env.EXILED_REFERENCES_URL }} -OutFile ${{ github.workspace }}/References.zip
          Expand-Archive -Path References.zip -DestinationPath ${{ env.SL_REFERENCES }} -Force
      - name: Get XP System
        shell: pwsh
        run: |
          $response = Invoke-RestMethod -Uri ${{ env.XP_SYSTEM_URL }}
          $asset = $response.assets | Where-Object { $_.name -eq 'XPSystem-EXILED.dll' } | Select-Object -First 1
          $url = $asset.browser_download_url
          Invoke-WebRequest -Uri $url -OutFile ${{ env.SL_REFERENCES }}/XPSystem.dll
      - name: Restore packages
        run: nuget restore ${{ github.workspace }}/DiscordLab.sln
      - name: Build
        run: msbuild.exe ${{ github.workspace }}/DiscordLab.sln /p:Configuration=Debug /p:Platform="Any CPU"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DiscordLab
          path: ${{ github.workspace }}/bin
          if-no-files-found: error