name: Build and Publish Artifact

on:
  - push

env:
  EXILED_REFERENCES_URL: https://exslmod-team.github.io/SL-References/Dev.zip
  XP_SYSTEM_URL: https://api.github.com/repos/RowpannSCP/XP/releases
  SL_REFERENCES: ${{ github.workspace }}/refs
  EXILED_REFERENCES: ${{ github.workspace }}/refs

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4.0.1
        with:
          dotnet-version: 9.0.x
      - name: Get References
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri ${{ env.EXILED_REFERENCES_URL }} -OutFile ${{ github.workspace }}/References.zip
          Expand-Archive -Path References.zip -DestinationPath ${{ env.SL_REFERENCES }} -Force
      - name: Build
        run: dotnet build -c:Release
      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DiscordLab
          path: ${{ github.workspace }}/bin
          if-no-files-found: error